/* ------------------------------------------------------Base Styling*/

html, body {
  height: 100%;
}

.header {
    background-color: #303130;
    color: #c4c4c4;
    height: 90px;
}

.navbar-default .navbar-brand {
    color: #c4c4c4;
}
.navbar-default .navbar-brand:hover {
    color: #6c6b70;
}

.logo{
    float: left;
    height: 35px;
    padding: 10px 10px;
    font-size: 27px;
    font-weight: bold;
    line-height: 25px;
    color: #f702ce;
    width:150px;
}


.navbar-default .navbar-nav > li > a {
    color: #c4c4c4;
    font-weight: bold;
    font-size: 18px;
    padding-bottom:3px;
}

.navbar-nav {
}
.navbar-collapse {
    float: left;
    background-color: #303130;
    margin-top: 45px;
}

.navbar-collapse.collapse.in {
    width: 150px;
    border: none;
    border-bottom: 1px solid #c4c4c4;
    border-left: 1px solid #c4c4c4;
    border-right: 1px solid #c4c4c4;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 39px;
    margin-left: -10px;
}


.navbar-default .navbar-nav > li > a:hover {
    color: #b35573;
}

.nav-text {
    color: black;
}

.active_menu {
    border-bottom: 2px solid #f702ce;
}

.menu-item {
}

.footer {
    height: 30px;
    position: fixed;
    bottom: 0px;
    background-color: #303130;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.footer-text{
    color: #c4c4c4;
    margin-top: 5px;
}

.git-link{
    color: #f702ce;
    font-weight: bold;
}

.git-link:hover {
    color: #b35573;
}



.main-content {
    margin-top: 90px;
    margin-bottom: 30px;
    background-color: #555;
    padding: 30px;
    color: #c4c4c4;
    min-height: 100%;
}

.my_btn {
    border-radius: 5px;
    background-color: #f0f0f0;
    padding: 5px;
    color: #303130;
    margin: 5px;
}

.address_entry_field {
    margin-bottom: 5px;
}

/* ------------------------------------------------------Index Styling*/
.filter_container {
    padding-top: 20px;
    background-color: #303130;
    border-color: #c4c4c4;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.sort-by-selecter {
    max-width: 250px;
}

.search-input {
    max-width: 250px;
}

.filter_collapse {
    background-color: #555;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    padding:10px
}

.filter_header {
    color: #c4c4c4;
    padding:10px;
}

.filter_form {
    margin:5px;
}
.mec-range-field {
    margin-left: 20px;
}

.mec_range_input {
    width: 70px;
    margin-right: 20px;
    padding-left: 10px;
}

.charts_container {
    background-color: #303130;
    border-color: #c4c4c4;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    margin-bottom: 10px;
    padding-bottom: 20px;
    }

.chart_header {
    padding: 10px;
}

.dc-chart {
    fill: white;
    margin: 0px;
}

.chart_title{
    color: white;
    margin-left: 50px;
}

.bar_chart {
    padding: 0px;
}

.pie_chart {
    padding: 0px;
}

#per-county-chart {
    display: inline-block;
    margin: auto;
    padding: 0px;
    padding-left:20px;
    margin-bottom: 20px;
    width: auto;
}

#per-type-chart {
    margin: 0px;
    padding: 0px;
    padding-left: 20px;
    margin-bottom: 20px;
    width: auto;
}

#per-status-stacked {
    margin: 0px;
    padding: 0px;
    text-align: center;
}



.asset_table {
    border: 2px solid #c4c4c4;
    border-radius: 10px;
    background-color: #303130;
    margin-bottom: 10px;
}
.assets_collapse {
}

.table_wrapper {
    overflow: scroll;
    max-height: 800px;
}
.table_row_container {
    border-top: 2px solid #c4c4c4;
}

.row_attr {
    color: white;
}
.detail-dropdown {
    color: #337ab7;
    margin-right: 10px;
}
.row_attr :hover {
    color: #337ab7;
}
.table_heading {
    text-align: left;
    color: white;
}

.asset_details_collapse {
    background-color: #555;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid #c4c4c4;
    margin-bottom: 30px;
    padding: 10px;
}


.edit_icon {
    color: #f702ce;
    padding: 5px;
}

.edit_icon:hover {
    color: #b35573;
}


.asset-entry-form {
    max-width: 300px;
}


.pie_image {
    background-color: #303130;
}

.container_header{
    padding: 10px;
}

/* ------------------------------------------------------About Styling*/
.about_container {
    background-color: #303130;
    border-color: #c4c4c4;
    border-style: solid;
    border-width: 1px;
    padding: 30px;
    border-radius: 10px;
}

.about_group {
    margin-bottom: 20px;
}

.about_collapse {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    color: black;
    margin-top: 10px;
}


/*------------------------------------------------------------------Edit Asset Styling*/
.edit_container {
    padding-top: 20px;
    background-color: #303130;
    border-color: #c4c4c4;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.edit_group {
    margin-bottom: 20px;
}
.edit_header {
    padding: 10px;
}

/*------------------------------------------------------------------Admin Styling*/
.admin_container {
    padding-top: 20px;
    background-color: #303130;
    border-color: #c4c4c4;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.backup_selector{
    max-width: 300px
}
.back_ctrl_div, .overwrite_ctrl_div {
    margin-bottom: 20px;
    padding:0px
}

.backup_container {
    margin-bottom: 30px
}
/*------------------------------------------------------------------Media Querries*/

@media only screen and (max-width: 365px) {
    .navbar-collapse.collapse.in {
        margin-top: 19px;
    }

}