{% extends 'base.html'%} {% block content %}

<div class="container col-xs-12 col-sm-10 col-sm-offset-1 about_container">
    <div class="about_group about_site">
        <div class="row about_header">
            <a data-toggle="collapse" href="#collapse_about_site" role="button" aria-expanded="false" aria-controls="#collapse_about_site">
                <h4><i class="fas fa-plus"></i> What is this site about?</h4>
            </a>
        </div>
        <div class="collapse about_collapse collapse_sm" id="collapse_about_site">
            <p>
                This site is a means to explore Irelands electrical generation assets across both the transmission and distribution networks.
            </p>
            <p>
                As the electrical grid migrates to a more distributed system there is an ever growing need to keep track of the assets on the network.
                For system operators it is important to be aware of what types of generaters are where, what is the generation share of the different types
                and what eqiupment on the network is reaching capacity.
            </p>
        </div>
    </div>

    <div class="about_group how_to_guide">
        <div class="row about_header">
            <a data-toggle="collapse" href="#collapse_how_to_guide" role="button" aria-expanded="false" aria-controls="#collapse_how_to_guide">
                <h4><i class="fas fa-plus"></i> How do I use the site?</h4>
            </a>
        </div>
        <div class="collapse about_collapse collapse_sm" id="collapse_how_to_guide">
            <ul class="how-to-play">
                <li>
                    To see full list of generator assets on record go to
                    <a href="{{ url_for('index') }}" target="_blank">Assets</a>.
                </li>
                <li>
                    All available information on each asset can be seen by expanding on individual asset.
                </li>
                <li>
                    The asset list can be refined using filter options on the <a href="{{ url_for('index') }}" target="_blank">Assets</a> page.
                </li>
                <li>
                    Filter has to be reset before runing new filter.
                </li>
                <li>
                    The charts are interactive, if you click on a segment from any chart the other charts only show data relating to the selected data set.
                    i.e. If you click 'Wind' on the 'MEC (MW) by Type', you will see that the County chart shows that 50% of the wind is spreaad across 4 counties.
                </li>
            </ul>
        </div>
    </div>

    <div class="about_group data_insights">
        <div class="row about_header">
            <a data-toggle="collapse" href="#collapse_data_insights" role="button" aria-expanded="false" aria-controls="#collapse_data_insights">
                <h4><i class="fas fa-plus"></i> Data Analysis?</h4>
            </a>
        </div>
        <div class="collapse about_collapse collapse_sm" id="collapse_data_insights">
            <div class="about_charts_container container">
                <div class="pie_chart col-xs-12 col-sm-6 col-lg-4">
                    <h5 class="chart_title">MEC (MW) by Type</h5>
                    <div id="per-type-chart"></div>
                </div>
                <div class="pie_chart col-xs-12 col-sm-6 col-lg-4">
                    <h5 class="chart_title">MEC (MW) by County</h5>
                    <div id="per-county-chart"></div>
                </div>
                <div class="bar_chart col-xs-12 col-sm-12 col-lg-4">
                    <h5 class="chart_title">MEC (MW) by Status</h5>
                    <div id="per-status-stacked"></div>
                </div>
            </div>
            <div class="insights_text_container">
                <p> By clicking on the different sections of the interactive charts, you can isolate their particular reference data to gain insight into the current grid and how it will evolve in the comming years.</p>
                <ul>
                    <li>
                        <b>Wind and Gas Power the Nation</b> Looking at the Connected and Energised assets, that nearly 3/4 of our instailed electricity capacity is in Wind and Natural Gas generation.
                        But don't get too excited, due to winds variable reliabilibilty we are running off gas much more often. (Click 'Connected' and 'Energised' on the 'MEC (MW) by Status' chart.)
                    </li>
                    <li>
                        <b>Cork, Kerry & Dublin are the Powerhouses</b> Cork has nearly a quarter of the countries installed capacity, with Kerry and Dublin making up a second quarter.
                        Claire for it small size, is next in line with its coal burning Moneypoint power station. (Click 'Connected' and 'Energised' on the 'MEC (MW) by Status' chart.)
                    </li>
                    <li>
                        <b>Natural Gas Powers the Cities</b> Cork and Dublin are nearly equal in their gas generation capacity, with Galway and Limerick making up the rest.
                        (Click 'Connected' and 'Energised' on the 'MEC (MW) by Status' chart and 'Nat.Gas' on 'MEC (MW) by Type' chart.)
                    </li>
                    <li>
                        <b>The Wind Blows from the West</b> Half the countries installed wind capacity is based in Kerry, Cork and Donegal. Tipperary has up next with 305MW installed.
                        (Click 'Connected' and 'Energised' on the 'MEC (MW) by Status' chart and 'Nat.Gas' on 'MEC (MW) by Type' chart.)
                    </li>
                    <li>
                        <b>The Future is Green</b> Wind and Solar projects make up over 80% of contracted developments. (Click 'Contracted' on the 'MEC (MW) by Status' chart.)
                    </li>
                    <li>
                        <b>The Future is Distributed</b> Distrubited assets make up only 12% of connected capacity, yet accounts for 47% of contracted.
                        The distributed generation is set to double in the coming years. (Click 'Contracted' on the 'MEC (MW) by Status' chart.)
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="about_group about_network">
        <div class="row about_header">
            <a data-toggle="collapse" href="#collapse_about_network" role="button" aria-expanded="false" aria-controls="#collapse_about_network">
                <h4><i class="fas fa-plus"></i> How is the electrical grid organised?</h4>
            </a>
        </div>
        <div class="collapse about_collapse collapse_sm" id="collapse_about_network">

            <p>
                The infrastructure of wires and cables around Ireland is divided into the distribution network and the transmission network.
                Traditionally, the transmission network sends electricity from generating stations to main nodes in the country.
                The electricity passes into the distribution network at these nodes.
                The distribution network then sends electricity supply to customers' premises.
                As more and more smaller generators are connected to the grid (i.e. home PV, single wind turbines etc), the distribution network is moving away from purelly delivering energy from
                transmission nodes to the consumer and begining to feed energy back into the grid.
            </p>
            <p>
                EirGrid is the acting TSO (Transmission System Operator) responsible for operating and planning the development of the transmission system.
                ESB Networks is the acting DSO (Distribution Systmem Operator)  responsible for the operation, maintenance and development of the electricity distribution network in Ireland.
                It is also responsible for maintaining and developing the transmission network.
            </p>

        </div>
    </div>

    <div class="about_group about_data">
        <div class="row about_header">
            <a data-toggle="collapse" href="#collapse_about_data" role="button" aria-expanded="false" aria-controls="#collapse_about_data">
                <h4><i class="fas fa-plus"></i> Where did the data come from?</h4>
            </a>
        </div>
        <div class="collapse about_collapse collapse_sm" id="collapse_about_data">
            <p>
                The data shown on this site is a combination of publically available data released by
                <a href="https://www.esbnetworks.ie/new-connections/generator-connections/generator-connection-statistics" target="_blank">ESB Networks</a> and
                <a href="http://www.eirgridgroup.com/customer-and-industry/general-customer-information/connected-and-contracted-generators/" target="_blank">Eirgrid</a>,
                as well as addtional data included for a more functional uses of the site.
            </p>
            <p>
                As some data has been included that is not official data from the system operators, the data on this site should only be used for reference purposes.
            </p>
        </div>
    </div>

</div>

<script type="text/javascript" src="{{ url_for('static', filename="js/main.js")}}"></script>
<script type="text/javascript"> var assets_json = '{{ assets_json | tojson | safe}}';</script>
<script type="text/javascript" src="{{ url_for('static', filename="js/charts.js")}}"></script>


 {% endblock %}
