{% extends 'base.html'%} {% block content %}
<div class="row">
    <form class="asset-details col-sm-10 col-sm-offset-1" method="POST" action="{{ url_for('add_asset')}}">
        <div>
            <p class="lead">Asset Details:</p>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="Name">Asset Name *</label>
                <div class="col-sm-8 col-sm-offset-2">
                    <input type="text" name="Name" class="form-control asset-entry-form" id="Name" required />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="Type">Asset Type *</label>
                <div class="col-sm-8 col-sm-offset-2">
                    <select name="Type" id="Type" class="form-control asset-entry-form">
                        <option>Coal</option>
                        <option>Gas</option>
                        <option>Gasoil</option>
                        <option>Oil</option>
                        <option>Peat</option>
                        <option>Waste</option>
                        <option>Waste Wood</option>
                        <option>Water</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="MEC_MW">Max Export Capacity (MW) *</label>
                <div class="col-sm-8 col-sm-offset-2">
                    <input type="text" name="MEC_MW" class="form-control asset-entry-form" id="MEC_MW" required />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="GenRef">Generator Reference</label>
                <div class="col-sm-8 col-sm-offset-2">
                    <input type="text" name="GenRef" class="form-control asset-entry-form" id="GenRef" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="Company">Company</label>
                <div class="col-sm-8 col-sm-offset-2">
                    <input type="text" name="Company" class="form-control asset-entry-form" id="Company" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="Node">Node</label>
                <div class="col-sm-8 col-sm-offset-2">
                    <input type="text" name="Node" class="form-control asset-entry-form" id="Node" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="NodeAddress">Node Address</label>
                <div class="col-sm-8 col-sm-offset-2">
                    <input type="text" name="NodeAddress" class="form-control asset-entry-form" id="NodeAddress" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="NodeVoltage">Node Voltage</label>
                <div class="col-sm-8 col-sm-offset-2">
                    <input type="text" name="NodeVoltage" class="form-control asset-entry-form" id="NodeVoltage" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="SystemOperator">System Operator</label>
                <div class="col-sm-8 col-sm-offset-2">
                    <select name="SystemOperator" id="SystemOperator" class="form-control asset-entry-form">
                        <option>TSO</option>
                        <option>DSO</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="AssetAddress">Asset Address</label>
                <div class="col-sm-8 col-sm-offset-2">
                    <input type="text" name="AssetAddress" class="form-control asset-entry-form" id="AssetAddress" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="Status">Status</label>
                <div class="col-sm-8 col-sm-offset-2">
                    <select name="Status" id="Status" class="form-control asset-entry-form">
                        <option>Connected</option>
                        <option>Contracted</option>
                        <option>Energised</option>
                    </select>
                </div>
            </div>
            <button class="btn" autofocus>Submit!</button>
        </div>
    </form>


</div>
{% endblock %}