{% extends 'base.html'%} {% block content %}


<div class="container filter_container col-xs-12 col-sm-3 col-md-4 col-lg-3">

        <div>
            <p>Showing {{doc_count}} assets</p>
        </div>
        <div>
            <p>Total MEC of {{mec_total}}MW</p>
        </div>

    <div class="filter_group refine_filter">
        <div class="row filter_header">
            <a data-toggle="collapse" href="#collapse_refine" role="button" aria-expanded="false" aria-controls="#collapse_refine">
                <div class="pull-left">
                    <h4>Refine Filter</h4>
                </div>
                <div class="pull-right">
                    <h4><i class="fas fa-chevron-circle-down"></i></h4>
                </div>
                <div class="clearfix"></div>
            </a>
        </div>

        <div class="collapse" id="collapse_refine">

            <form method="POST" action="{{ url_for('filtered_assets')}}">
                <button type="submit" class="btn add_asset-btn">Apply Filter</button>
                <button type="reset" class="btn add_asset-btn">Reset Filter</button>
                <div class="form-group row">
                    <label for="doc_sort">Sort by:</label>
                    <select class="form-control sort-by-selecter" name="doc_sort" id="doc_sort">
                        <option value="0">Name (A - Z)</option>
                        <option value="1">Name (Z - A)</option>
                        <option value="2">Type (A - Z)</option>
                        <option value="3">Type (Z - A)</option>
                        <option value="4">MEC (Low - High)</option>
                        <option value="5">MEC (High - Low)</option>
                    </select>
                </div>
                <div class="form-group row">
                    <label for="flt_search">Search</label>
                    <input type="search" name="flt_search" class="form-control search-input" id="flt_search" />
                </div>
                <div class="filter_group status">
                    <div class="row filter_header">
                        <a data-toggle="collapse" href="#collapse_status" role="button" aria-expanded="false" aria-controls="#collapse_status">
                            <div class="pull-left">
                                <h4>Status</h4>
                            </div>
                            <div class="pull-right">
                                <h4><i class="fas fa-chevron-circle-down"></i></h4>
                            </div>
                            <div class="clearfix"></div>
                        </a>
                    </div>
                    <div class="collapse filter_collapse in" id="collapse_status">
                        {% for status in statuses %}
                        <div class="checkbox">
                            <label><input type="checkbox" name="flt_status" value={{status['Name']}}>{{status['Name']}}   ({{status['Count']}})  ({{status['Total']}}MW)</label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="filter_group system_operator">
                    <div class="row filter_header">
                        <a data-toggle="collapse" href="#collapse_system_operator" role="button" aria-expanded="false" aria-controls="#collapse_system_operator">
                            <div class="pull-left">
                                <h4>System Operator</h4>
                            </div>
                            <div class="pull-right">
                                <h4><i class="fas fa-chevron-circle-down"></i></h4>
                            </div>
                            <div class="clearfix"></div>
                        </a>
                    </div>
                    <div class="collapse filter_collapse in" id="collapse_system_operator">
                        {% for system_operator in system_operators %}
                        <div class="checkbox">
                            <label><input type="checkbox" name="flt_system_operator" value={{system_operator['Name']}}>{{system_operator['Name']}}   ({{system_operator['Count']}})  ({{system_operator['Total']}}MW)</label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="filter_group types">
                    <div class="row filter_header">
                        <a data-toggle="collapse" href="#collapse_types" role="button" aria-expanded="false" aria-controls="#collapse_types">
                            <div class="pull-left">
                                <h4>Types</h4>
                            </div>
                            <div class="pull-right">
                                <h4><i class="fas fa-chevron-circle-down"></i></h4>
                            </div>
                            <div class="clearfix"></div>
                        </a>
                    </div>
                    <div class="collapse filter_collapse in" id="collapse_types">
                        {% for type in types %}
                        <div class="checkbox">
                            <label><input type="checkbox" name="flt_type" value={{type['Name']}}>{{type['Name']}}   ({{type['Count']}})  ({{type['Total']}}MW)</label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="filter_group mec">
                    <div class="row filter_header">
                        <a data-toggle="collapse" href="#collapse_mec" role="button" aria-expanded="false" aria-controls="#collapse_mec">
                            <div class="pull-left">
                                <h4>Max Export Capacity</h4>
                            </div>
                            <div class="pull-right">
                                <h4><i class="fas fa-chevron-circle-down"></i></h4>
                            </div>
                            <div class="clearfix"></div>
                        </a>
                    </div>
                    <div class="collapse filter_collapse in" id="collapse_mec">
                        <div class="row">
                            <label for="flt_mec_lo" class="mec-range-field">from</label>
                            <input class="pull-right mec_range_input" autocomplete="off" id="flt_mec_lo" name="flt_mec_lo" data-pattern="range" data-role="to" type="number" pattern="[0-9]+(\.[0-9]{0,2})" maxlength="7" value="0">
                        </div>
                        <div class="row">
                            <label for="flt_mec_hi" class="mec-range-field last-child">to</label>
                            <input class="pull-right mec_range_input" autocomplete="off" id="flt_mec_hi" name="flt_mec_hi" data-pattern="range" data-role="to" type="number" pattern="[0-9]+(\.[0-9]{0,2})" maxlength="7" value="1000">
                        </div>
                    </div>
                </div>
                <div class="filter_group node">
                    <div class="row filter_header">
                        <a data-toggle="collapse" href="#collapse_node" role="button" aria-expanded="true" aria-controls="#collapse_node">
                            <div class="pull-left">
                                <h4>Node</h4>
                            </div>
                            <div class="pull-right">
                                <h4><i class="fas fa-chevron-circle-down"></i></h4>
                            </div>
                            <div class="clearfix"></div>
                        </a>
                    </div>
                    <div class="collapse filter_collapse" id="collapse_node">
                        {% for node in nodes %}
                        <div class="checkbox">
                            <label><input type="checkbox" name="flt_node" value={{node['Name']}}>{{node['Name']}}   ({{node['Count']}})  ({{node['Total']}}MW)</label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="filter_group county">
                    <div class="row filter_header">
                        <a data-toggle="collapse" href="#collapse_county" role="button" aria-expanded="true" aria-controls="#collapse_county">
                            <div class="pull-left">
                                <h4>County</h4>
                            </div>
                            <div class="pull-right">
                                <h4><i class="fas fa-chevron-circle-down"></i></h4>
                            </div>
                            <div class="clearfix"></div>
                        </a>
                    </div>
                    <div class="collapse filter_collapse" id="collapse_county">

                        {% for county in counties %}
                        <div class="checkbox">
                            <label><input type="checkbox" name="flt_county" value={{county['Name']}}>{{county['Name']}}   ({{county['Count']}})  ({{county['Total']}}MW)</label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="col-xs-12 col-sm-8 col-sm-offset-1 col-md-7 col-lg-8">
    <div class="container charts_container col-xs-12">
        <div class="row chart_header">
            <a data-toggle="collapse" href="#chart_collapse" role="button" aria-expanded="true" aria-controls="#chart_collapse">
                <div class="pull-left">
                    <h4>Charts</h4>
                </div>
                <div class="pull-right">
                    <h4><i class="fas fa-chevron-circle-down"></i></h4>
                </div>
                <div class="clearfix"></div>
            </a>
        </div>
        <div class="collapse chart_collapse in" id="chart_collapse">
            <div class="pie-chart col-xs-12 col-sm-6 col-lg-4">
                <h5 class="chart_title">MEC (MW) by Type</h5>
                <div id="per-type-chart"></div>
            </div>
            <div class="pie-chart col-xs-12 col-sm-6 col-lg-4">
                <h5 class="chart_title">MEC (MW) by County</h5>
                <div id="per-county-chart"></div>
            </div>
            <div class="bar-chart col-xs-12 col-sm-12 col-lg-4">
                <h5 class="chart_title">MEC (MW) by Status</h5>
                <div id="per-status-stacked"></div>
            </div>
        </div>
    </div>



    <div class="container asset_table col-xs-12">
        <div class="row chart_header">
        <a data-toggle="collapse" href="#assets_collapse" role="button" aria-expanded="true" aria-controls="#assets_collapse">
            <div class="pull-left">
                <h4>Assets List</h4>
            </div>
            <div class="pull-right">
                <h4><i class="fas fa-chevron-circle-down"></i></h4>
            </div>
            <div class="clearfix"></div>
        </a>
        </div>
        <div class="collapse assets_collapse in" id="assets_collapse">
            <div class="row table_heading">
                <div class="col-xs-6 col_header">Name</div>
                <div class="col-xs-3 col_header">Type</div>
                <div class="col-xs-3 col-sm-3 col_header">MEC (MW)</div>
            </div>
            <div class="table_warpper">
                {% for asset in assets %}
                <div class="table_row_container">
                    <div class="row">
                        <a data-toggle="collapse" href="#collapse{{asset._id}}" role="button" aria-expanded="false" aria-controls="collapse{{asset._id}}">

                            <div class="row_attr">
                                <div class="col-xs-6"><i class="fas fa-chevron-circle-down detail-dropdown"> </i>{{asset.Name}}</div>
                                <div class="col-xs-3">{{asset.Type}}</div>
                                <div class="col-xs-3 col-sm-3">{{asset.MEC_MW}}</div>
                            </div>
                        </a>
                        {% if username == 'admin' or (username != "" and asset['Company'].lower() == username.lower()) %}
                        <div class="col-md-1 hidden-sm">
                            <a href="{{url_for('edit_asset', asset_id = asset._id, username = username)}}"><i class="edit_icon fas fa-cog pull-right"></i></a>
                        </div>
                        {% endif %}
                    </div>
                    <div class="collapse asset_details_collapse col-xs-12" id="collapse{{asset._id}}">
                        <div class="card card-body">
                            <div class="asset_details col-xs-12 col-md-6">
                                <h3>Asset Details</h3>
                                {% for attribute in attributes[:8] %}
                                <div class="row">
                                    <div class="col-xs-6">
                                        <p>{{attribute}}:</p>
                                    </div>
                                    <div class="col-xs-6">
                                        <p>{{asset[attribute]}}</p>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="network_details col-xs-12 col-md-6">
                                <h3>Network Details</h3>
                                {% for attribute in attributes[8:14] %}
                                <div class="row">
                                    <div class="col-xs-6">
                                        <p>{{attribute}}:</p>
                                    </div>
                                    <div class="col-xs-6">
                                        <p>{{asset[attribute]}}</p>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="data_details col-xs-12 col-md-6">
                                <h3>Data Details</h3>
                                {% for attribute in attributes[14:] %}
                                <div class="row">
                                    <div class="col-xs-6">
                                        <p>{{attribute}}:</p>
                                    </div>
                                    <div class="col-xs-6">
                                        <p>{{asset[attribute]}}</p>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                {% endfor %}
            </div>
        </div>
    </div>
</div>

 {% endblock %}
