<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" type="text/css" />

    <link rel="stylesheet" href="/static/css/main.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/dc.min.css" type="text/css" />
    <link rel="icon" href="data:,">
    <script type="text/javascript" src="{{ url_for('static', filename="js/jquery-3.3.1.min.js")}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename="js/d3.min.js")}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename="js/crossfilter.min.js")}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename="js/dc.js")}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename="js/queue.min.js")}}"></script>
    <meta name="viewport" content="width=device-width">
    <title>{{ title }}</title>
    {% block head %} {% endblock %}
</head>

<body>
    <!-----------------------------------------------------------------------------------------------------------------Header Content-->
    <nav class="navbar navbar-default navbar-fixed-top header">
        <div class="container-fluid">
            <div class="navbar-header">
                <div>
                    {% if username == "" %}
                    <a class="logo" href="{{ url_for('index')}}"> IRISH ENERGY ASSETS </a>
                    {% else %}
                    <a class="logo" href="{{ url_for('assets', username=username)}}"> IRISH ENERGY ASSETS </a>
                    {% endif %}
                </div>
                <div>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsible-navbar" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
            </div>
            <div class="pull-right">
                {% if username == "" %}
                <a href="{{ url_for('log_in') }}"><i class="fas fa-user"></i> Log In</a>
                {% else %}
                <a href="{{ url_for('log_out') }}"><i class="fas fa-user"></i>Welcome {{username}}, click to log out</a>
                {% endif %}
            </div>
            <div class="collapse navbar-collapse" id="collapsible-navbar">
                <ul class="nav navbar-nav nav-text">
                    <li class="menu-item {% if title == 'Irish Energy Assets | Assets' %} active_menu {% endif %}">
                        {% if username == "" %}
                        <a href="{{ url_for('index')}}"><i class="fas fa-industry"></i> Assets </a>
                        {% else %}
                        <a href="{{ url_for('assets', username=username)}}"><i class="fas fa-industry"></i> Assets </a>
                        {% endif %}
                    </li>
                    <li class="menu-item {% if title == 'Irish Energy Assets | About' %} active_menu {% endif %}"><a href="{{ url_for('about') }}"><i class="fas fa-info"></i> About Site</a></li>
                    {% if username == "admin" %}
                    <li class="menu-item {% if title == 'Irish Energy Assets | Admin' %} active_menu {% endif %}"><a href="{{ url_for('admin', username=username) }}"><i class="fas fa-cog"></i> Admin</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>


    <!---------------------------------------------------------------------------------------------------------Main Content-->
    <div class="container-fluid main-content">
        {% block content %} {% endblock %}
    </div>
    <!---------------------------------------------------------------------------------------------------------Footer Content-->

    <footer class="container footer">
        <div class="row">
            <div class="footer-text">
                <p>Developed by <a class="git-link" target="_blank" href="https://www.linkedin.com/in/danielcaseyengineer/">Daniel Casey</a></p>
            </div>
        </div>
    </footer>

    <!---------------------------------------------------------------------------------------------------------Scripts-->
    <!--Moved scripts to bottom as $ wasn't being defined even when jquery was being called first-->


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename="js/main.js")}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename="js/charts.js")}}"></script>
</body>
</html>