{% extends 'base.html'%} {% block content %}
<div class="container col-xs-12 col-sm-10 col-sm-offset-1 edit_container">
    <form class="" method="POST" action="{{ url_for('update_asset', asset_id = asset._id, username = username) }}">
        <div class="container edit_group edit_asset_details_container col-xs-12 col-md-6">
            <div class="row edit_header">
                <a data-toggle="collapse" href="#collapse_edit_asset" role="button" aria-expanded="false" aria-controls="#collapse_edit_asset">
                    <div class="pull-left">
                        <h4><i class="fas fa-chevron-circle-down"></i> Edit Asset Details</h4>
                    </div>
                </a>
            </div>
            <div class="collapse collapse_edit_asset collapse_xs in" id="collapse_edit_asset">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="Name">Asset Name *</label>
                    <div class="col-sm-8 col-sm-offset-2">
                        <input type="text" name="Name" class="form-control asset-entry-form" id="Name" value="{{asset.Name}}" required />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="Type">Asset Type *</label>
                    <div class="col-sm-8 col-sm-offset-2">
                        <select name="Type" id="Type" class="form-control asset-entry-form">
                            <option selected>{{asset.Type}}</option>
                            {% for type in types %}
                            <option>{{type}}</option>
                            {% endfor %}
                            <option>Other</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="SubType">Sub-Type</label>
                    <div class="col-sm-8 col-sm-offset-2">
                        <input type="text" name="SubType" class="form-control asset-entry-form" id="SubType" value="{{asset.SubType}}" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="MEC_MW">Max Export Capacity (MW) *</label>
                    <div class="col-sm-8 col-sm-offset-2">
                        <input type="number" step="0.01" name="MEC_MW" class="form-control asset-entry-form" id="MEC_MW" value="{{asset.MEC_MW}}" required />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="Status">Status</label>
                    <div class="col-sm-8 col-sm-offset-2">
                        <select name="Status" id="Status" class="form-control asset-entry-form">
                            <option selected>{{asset.Status}}</option>
                            <option>Connected</option>
                            <option>Contracted</option>
                            <option>Disconnected</option>
                            <option>Energised</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="GenRef">Generator Reference</label>
                    <div class="col-sm-8 col-sm-offset-2">
                        <input type="text" name="GenRef" class="form-control asset-entry-form" id="GenRef" value="{{asset.GenRef}}" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="county">County</label>
                    <div class="col-sm-8 col-sm-offset-2">
                        <select name="County" id="County" class="form-control asset-entry-form">
                            <option selected>{{asset.County}}</option>
                            {% for county in counties %}
                            <option>{{county}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="Company">Owning Company</label>
                    <div class="col-sm-8 col-sm-offset-2">
                        <input type="text" name="Company" class="form-control asset-entry-form" id="Company" value="{{asset.Company}}" />
                    </div>
                </div>
                <p>* required fields</p>
                <button class="btn">Save Changes</button>
            </div>

        </div>

        <div class="container edit_group edit_network_container col-xs-12 col-md-6">
            <div class="row edit_header">
                <a data-toggle="collapse" href="#collapse_edit_network" role="button" aria-expanded="false" aria-controls="#collapse_edit_network">
                    <div class="pull-left">
                        <h4><i class="fas fa-chevron-circle-down"></i> Edit Connected Network Details</h4>
                    </div>
                </a>
            </div>
            <div class="collapse collapse_edit_network collapse_xs in" id="collapse_edit_network">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="NetworkType">Network Type</label>
                    <div class="col-sm-8 col-sm-offset-2">
                        <select name="NetworkType" id="NetworkType" class="form-control asset-entry-form">
                            <option selected>{{asset.NetworkType}}</option>
                            <option>Distribution</option>
                            <option>Transmission</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="SystemOperator">System Operator</label>
                    <div class="col-sm-8 col-sm-offset-2">
                        <select name="SystemOperator" id="SystemOperator" class="form-control asset-entry-form">
                            <option selected>{{asset.SystemOperator}}</option>
                            <option>EirGrid</option>
                            <option>ESB Networks</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="Node">Node</label>
                    <div class="col-sm-8 col-sm-offset-2">
                        <input type="text" name="Node" class="form-control asset-entry-form" id="Node" value="{{asset.Node}}" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="NodeVoltage_kV">NodeVoltage_kV</label>
                    <div class="col-sm-8 col-sm-offset-2">
                        <input type="number" name="NodeVoltage_kV" class="form-control asset-entry-form" id="NodeVoltage_kV" value="{{asset.NodeVoltage_kV}}" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="NodeAddress">Node Address</label>
                    <div class="col-sm-8 col-sm-offset-2">
                        <input type="text" name="NodeAddress0" class="form-control asset-entry-form address_entry_field" id="NodeAddress0" value="{{node_address_ls[0]}}" />
                        <input type="text" name="NodeAddress1" class="form-control asset-entry-form address_entry_field" id="NodeAddress1" value="{{node_address_ls[1]}}" />
                        <input type="text" name="NodeAddress2" class="form-control asset-entry-form address_entry_field" id="NodeAddress2" value="{{node_address_ls[2]}}" />
                        <input type="text" name="NodeAddress3" class="form-control asset-entry-form address_entry_field" id="NodeAddress3" value="{{node_address_ls[3]}}" />
                        <input type="text" name="NodeAddress4" class="form-control asset-entry-form address_entry_field" id="NodeAddress4" value="{{node_address_ls[4]}}" />
                        <input type="text" name="NodeAddress5" class="form-control asset-entry-form address_entry_field" id="NodeAddress5" value="{{node_address_ls[5]}}" />
                    </div>
                </div>
                <p>* required fields</p>
                <button class="btn" autofocus>Save Changes</button>
            </div>
        </div>
        <div class="container edit_group delete_asset_container col-xs-12">
            <div class="row edit_header">
                <a data-toggle="collapse" href="#collapse_delete_asset" role="button" aria-expanded="false" aria-controls="#collapse_delete_asset">
                    <div class="pull-left">
                        <h4><i class="fas fa-chevron-circle-down"></i> Delete Asset</h4>
                    </div>
                </a>
            </div>

            <div class="collapse collapse_delete_asset" id="collapse_delete_asset">
                <div>
                    <p> Perminently delete asset from database.</p>
                    <div class="btn btn-warning delete_button my_btn"><a href="{{url_for('delete_asset', asset_id = asset._id, username = username)}}">Delete Asset</a></div>

                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}
